<div class="topic well-header">
  <h3>最近文章：</h3>
    <span>文章总计： {{ site.posts | size }} 篇</span>
    <span class="pull-right">最后更新时间：{{ site.time | date: "%Y年%m月%d日" }}</span>
  <ul>
      <li>
      <strong>置顶</strong> »»» <a href="/2013/09/05/OpenStack文章汇总.html"> OpenStack文章汇总 </a>
      </li>
  {% for post in site.posts limit:10 %}
    <li>{{ post.date | date: "%Y-%m-%d" }} »»» <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
    <li><a href="/archives.html" title="Our talent belongs to you!" style="color:red;font-size:20px"><strong> More </strong></a></li>
  </ul>
</div>
