<div class="nav nav-fix-top">
    <div class="navbar-panel">
        <div class="brand">
            <a href="/" class="light">臭蛋</a>
        </div>

        <div class="catalog pull-right">
            <ul>
                <li><a href="/archives.html">博文</a></li>
                <li><a href="/projects.html">项目</a></li>
                <li><a href="/about_me.html">臭蛋</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- 防止 IE6、7 中定位元素导致相邻元素 margin-top 失效 -->
<div style="height: 0px"></div>
